# zsel-catalog CODEOWNERS

courses/                  @content-team @education-team @lkolo-prez
resources/                @content-team @lkolo-prez
assignments/              @content-team @education-team @lkolo-prez
media/                    @content-team @media-team @lkolo-prez

docs/                     @content-team @lkolo-prez
CONTRIBUTING.md           @content-team @lkolo-prez
